/*main.css*/

/* INITIALIZATION */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Spectral+SC');

* {
    margin: 0 ;
    padding: 0 ;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display';
    background: url('../images/design/low_contrast_linen.png') repeat;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: rgb(57, 177, 81);
}
a:hover{
    color:rgb(214, 142, 49);
}

/* SIDEBAR */

.sidebar{
    padding:3em 0;
}

.sidebar h1{
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: rgb(221, 221, 221);
    font-family: 'Spectral SC', 'Helvetica', 'Times New Roman', sans-serif;
}
.sidebar h2{
    margin: 4% 0 0 0;
    font-size: 1em;
    text-align: center;
    font-family: 'Playfair Display';
    color: #CCC;
}
.sidebar h3{
    margin: 2% 0 0 0;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Playfair Display';
    color: #CCC;
}

/* SOCIAL MEDIA */
.social_media{
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.social_media a{
    text-decoration: none; 
}
.social_media a:hover i{
    color:rgb(214, 142, 49);
}
.social_media i{
    padding: 10px;
    color:rgb(221, 221, 221);
}
/* PICTURE */
.photo {
    text-align: center;
    padding-top:20px;
}
.photo img{
    /* box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2); */
    width: 20%;
    border-radius: 50%;
}

/* SIDEBAR NAVIGATION */
.sidebar-nav{
    display:none;
    font-family: 'Playfair Display';
    color:rgb(220, 220, 220);
    text-transform: uppercase;
}
.sidebar-nav li, .sidebar-nav-thin li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
    transition: background-color .2s linear, color 2s linear;
}
.sidebar-nav li{
    list-style-type: none;
    padding:15px 10px 15px 25px;
}
.sidebar-nav a{
    text-decoration: none;
    color:inherit
}
.sidebar-nav li:first-child{
    border-top: solid 1px rgba(255, 255, 255, 0.3);
}

.sidebar-nav a i{
    /* font-size: 1.5em; */
    margin-right: 10px;
}
.sidebar-nav li:hover, .sidebar-nav-thin li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-nav li:hover a, .sidebar-nav-thin li:hover a{
    color:white;
}


/* ABOUT ME */
#about {
    height: 100vh;
    background: linear-gradient(
        rgba(214, 220, 220, 0.9), 
        rgba(214, 220, 220, 0.9)
        ), url('../images/home/jump.jpg') no-repeat center center scroll;
    background-size: cover;
    color: #555;
}
#about .container{
    width: 85%;
    margin:0px auto;
    padding-top: 50px;
}
#about h1{
    font-size: 5em;
    color: #FF9B00;
}
#about p{
    padding: 50px 0 0 0;
    font-size: 1.45em;
    line-height: 2em;
    color: rgb(63, 63, 63);
}
#about .high-orange {
    margin: 0 2px;
    padding: 4px 6px;
    color: #FF9B00;
    font-weight: 600;
}
/* CONTENT */
.responsive-wrapper{
    max-width: 100%;
    overflow-y: auto;
}
.content{
    background: white;
}
#certifications{
    min-height: 100vh;
}
.content h1{
    padding: 50px 0 20px 0;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    color:rgb(63, 63, 63);
}
.content h2{
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    padding: 20px 0 0 0;
    color:rgb(79, 78, 78);
}
.content img{
    height: 50px;
}
.content li {
    list-style-type: none;
}
.content .container{
    width: 85%;
    margin:0 auto;
    text-align: center;
}
.content .container .partition{
    padding: 40px 15px 50px 15px;
}
.content .container .partition i{
    /* color:rgb(214, 142, 49); */
    color: rgba(98, 195, 112, 1);
}

.content .container .liste{
    margin: 10px 0;
    text-align: left;
    /* color:rgb(214, 142, 49); */
    color: #62A370;
}
#exploration{
    border-top: 1px solid rgb(208, 208, 208);
    padding-bottom: 50px;
    min-height: 100vh;
}

/* SIDEBAR NAVIGATION EXPLORATION */
.sidebar-nav-thin{
    height: 100%;
    position: fixed;
    width: 100px;
    color:rgb(220, 220, 220);
    text-align: center;
}
.sidebar-nav-thin a{
    text-decoration: none; 
    color:inherit;
}
.sidebar-nav-thin li{
    height:100px;
}
.exp-background{
    background: white;
    margin-left:100px
}
.exp-background .exp-marge{
    padding:5% 10%;
}
.exp-background .exp-title{
    background: rgb(206, 206, 206);
    padding: 2% 20%;
    text-align: center;
    border-radius: 10px;
}
.exp-background .exp-content .images{
    text-align: center;
}
.exp-background .exp-content .images .fig-title{
    font-weight: 600;
    margin-bottom: 0;
}
.exp-background .exp-content .images .fig-legend{
    font-style: italic;
}

.exp-background .exp-content img{
    max-width: 100%;
}
.exp-background h2{
    padding: 5% 0 2% 0;
    text-align: center;
}
.exp-background .intro {
    background: rgb(228, 227, 227);
    border-radius: 10px;
    padding: 2% 5% 1% 5%;
}
.exp-background .in-paragraph {
    padding-left: 50px;
}

@media (min-width:992px) {
    .sidebar{
        height: 100%;
        position: fixed;
    }
    .sidebar-nav{
        display: block;
    }
    .photo img{
        width:50%;
    }
    .photo {
        padding-bottom: 20px;
    }
}